.red{
    color:red;
}
.green {
    color: green;
}

.left{
    text-align:left;
}

#tableHeader{
    font-size: 14px;
    font-weight: bold;
    margin: 10px 0;
}

#formDiv{
    margin:20px auto;
    max-width:180px;
    text-align:center;
}

#submit{
    margin:10px;
}

#table{
    width:80%;
    margin:50px auto;
    text-align:center;
}